<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.helapu.lynx.mapper.DeviceMapper">
	
	<!-- 通用查询映射结果 -->
    <resultMap id="UserResultMap" type="com.helapu.lynx.entity.Device">
        <id column="id" property="id"/>
        <result column="mobile" property="mobile"/>
        <result column="username" property="username"/>
    </resultMap>


	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, device_key, device_secret
	</sql>
	
	<select id="selectOne" resultType="com.helapu.lynx.entity.User">
		SELECT nickname, product_key, device_key, device_secret, status, utc_online FROM DEVICE
		<!-- 判断 wrapper 是否为空 emptyOfWhere -->
		<where>
			${ew.sqlSegment}
		</where>
		LIMIT 1
	</select>
	

	<delete id="deleteAll">
		DELETE FROM DEVICE
	</delete>

	<select id="selectListByWrapper" resultType="com.helapu.lynx.entity.Device">
		SELECT * FROM DEVICE
		<!-- 判断 wrapper 是否为空 emptyOfWhere -->
		<where>
			${ew.sqlSegment}
		</where>
	</select>
	
</mapper>